@using GloomhavenTracker.Models.ViewModels
@model ItemIndexViewModel

@{
    ViewData["Title"] = "Items";
}
<div class="text-center">
    <h1 class="display-4">Items</h1>
    @if (ViewData["options"].ToString() == "All")
    {
        @Html.ActionLink("Show Only Available Items", "Index", "Item",new { partyId = @Model.PartyId, showOnlyAvailable = true}, new { @class = "btn btn-default" })
    }
    @if (ViewData["options"].ToString() == "OnlyAvailable")
    {
        @Html.ActionLink("Show All Items", "Index", "Item",new { partyId = @Model.PartyId, showOnlyAvailable = false}, new { @class = "btn btn-default" })
    }
    <table class="table table-hover">  
        <tr>  
            <th>Item name</th>  
            <th>Type</th>  
            <th>Description</th>   
            <th>Cost</th>
            <th>Number Available</th>
            <th>Characters with item</th>
        </tr>  
        @foreach (var item in @Model.ItemIndexDtos)  
        {  
            <tr> 
                <td>
                    @item.Item.Name
                </td> 
                <td>
                    @item.Item.Type
                </td> 
                <td>
                    @item.Item.Description
                </td> 
                <td>
                    @item.Item.Cost
                </td> 
                <td>
                    @item.NumberInShop / @item.Item.NumberAvailable
                </td>
                <td>
                @foreach (var character in @item.CharactersWithCopy)
                {
                    <span>@character.Name</span>
                }
                </td>
            </tr>  
        }  
    </table>
</div>