@using GloomhavenTracker.Models.DatabaseModels
@model Party
@{
    ViewData["Title"] = @Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.NumberOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.NumberOfPlayers)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Notes)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Prosperity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Prosperity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Reputation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Reputation)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.DateOfCreation)
            </td>
        </tr>
    </table>
    @if (@Model.Characters != null)
    {
        <h3 style="text-align: left;">Characters in Party</h3>
        <table>
            @foreach (var character in @Model.Characters)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@character.Name, "Detail", "Character", new { id = @character.Id })
                    </td>
                </tr>
            }
        </table>
        <div style="height:40px;">
            @Html.ActionLink("Create Character", "Create", "Character", new { partyId = @Model.Id}, new { @class = "btn btn-default", @style="float: left;" })
        </div>
    }
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id}, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to Parties", "Index", new { }, new { @class = "btn btn-default" })
    </div>
</div>