@using GloomhavenTracker.Models.DatabaseModels
@model Party
@{
    ViewData["Title"] = @Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.NumberOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.NumberOfPlayers)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Notes)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Prosperity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Prosperity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Reputation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Reputation)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.DateOfCreation)
            </td>
        </tr>
    </table>
    <div>
        @Html.ActionLink("Characters", "Index", "Character", new { partyId = @Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id}, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to Parties", "Index", new { }, new { @class = "btn btn-default" })
    </div>
</div>