@using GloomhavenTracker.Models.ViewModels
@using GloomhavenTracker.Models.Enums
@model CharacterDetailViewModel
@{
    ViewData["Title"] = @Model.Character.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Character.Name - @Model.Character.Class.ToString()</h1>
    <table class="table table-hover">
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Character.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Character.Level)
                @if (@Model.Character.Party.Prosperity > @Model.Character.Level || @Model.Character.ExperiencePoints >= @Model.ExperiencePointsForNextLevel)
                {
                    <p style="color: red;">(You can Increase your character level)</p>
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Character.ExperiencePoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Character.ExperiencePoints)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Character.Gold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Character.Gold)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Character.Party.Name, "Party Name")
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Character.Party.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(modelItem=> @Model.Character.CreationDate)
            </td>
            <td>
                @Model.Character.CreationDate.ToString("dd/MM/yyyy")
            </td>
        </tr>
        @if (@Model.Character.RetirementDate != null)
        {
            <tr>
                <td>
                    @Html.LabelFor(modelItem=> @Model.Character.RetirementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.Character.RetirementDate)
                </td>
            </tr>
        }
    </table>
    @if (@Model.Character.CharacterItems.Any())
    {
        <h3 style="text-align: left;">Items</h3>
        <table class="table table-hover">
            <tr>
                <th>Head</th>
                <th>Body</th>
                <th>Hand</th>
                <th>Two Hands</th>
                <th>Feet</th>
                <th>Consumable</th>
            </tr>
            <tr>
                @foreach (ItemType itemType in @Enum.GetValues(typeof(ItemType)))
                {
                    <td>
                        <table>
                            @foreach (var item in @Model.Character.CharacterItems.Where(x=>x.Item.Type == @itemType))
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(@item.Item.Name, "Detail", "Item", new { itemId = @item.Item.Id, characterId = @Model.Character.Id })
                                        @if (!@item.Equipped)
                                        {    
                                            @Html.ActionLink("✓", "EquipItem", "Item", new { itemId = @item.Item.Id, characterId = @Model.Character.Id, itemType = @item.Item.Type }, new { @class="btn btn-default"})
                                        }
                                        else
                                        {
                                            @Html.ActionLink("X", "UnequipItem", "Item", new { itemId = @item.Item.Id, characterId = @Model.Character.Id, itemType = @item.Item.Type }, new { @class="btn btn-default"})
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                }
            </tr>
        </table>
        @Html.Partial("_mannequin.cshtml", @Model)
    }
    <div>
        @Html.ActionLink("Edit Character", "Edit", new {id = @Model.Character.Id}, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete Character", "Delete", new {id = @Model.Character.Id, partyId = @Model.Character.PartyId}, new { @class = "btn btn-default", onclick = "return confirm('Are you sure you wish to delete this Character?');" })
        @Html.ActionLink("Back to Party", "Detail", "Party", new { id = @Model.Character.Party.Id}, new { @class = "btn btn-default" })
        @Html.ActionLink("Visit Shop", "Shop", "Item", new { partyId = @Model.Character.PartyId, characterId = @Model.Character.Id}, new { @class = "btn btn-default" })
    </div>
</div>